
body {
    background-color: #F4EEFF;

}

h1 {
    text-decoration:underline;
    color: #424874;
}

h2 {
    text-decoration:underline;
    color: #424874;
}

h3 {
    color: #424874;
}

h4 {
    color: #424874;
}
hr {
    border-style: dotted none none;

    border-color: #2B3467;
    border-width: 15px;
    width: 15%;
}
p {
    color: #424874;
    font-size: large;
}
